@model IEnumerable<GeniView.Data.Hardware.Event.DeviceEvent>

<table id="DeviceEventTable" class="device-events-table">
    <thead>
        <tr>
            <th>Device Serial Number</th>
            <th>Description</th>
            <th>Event Type</th>
            <th>Source</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <!-- Device Serial Number -->
                <td>
                    <div class="cell-flex">
                        <img src="@Url.Content("~/Content/Img/widgets/DeviceNumber.svg")"
                             class="icon-device"
                             alt="Device" />
                        <span>@item.DeviceSerialNumber</span>
                    </div>
                </td>

                <!-- Description -->
                <td>@item.Description</td>

                <!-- Event Type -->
                <td>
                    <div class="cell-flex">
                        <img src="@Url.Content("~/Content/Img/widgets/info.svg")"
                             class="icon-info"
                             alt="Info" />
                        <span>@item.EventType</span>
                    </div>
                </td>

                <!-- Source -->
                <td>@item.SourceText</td>

                <!-- Timestamp -->
                <td>@item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>

            </tr>
        }
    </tbody>
</table>

<script>
    (function () {

        if ($.fn.DataTable.isDataTable('#DeviceEventTable')) {
            $('#DeviceEventTable').DataTable().destroy();
        }

        $('#DeviceEventTable').DataTable({
            paging: true,
            pageLength: 13,
            searching: false,
            ordering: false,
            lengthChange: false,
            autoWidth: false,
            info: true,
            dom: 't<"dt-row"<"dt-info"i><"dt-pager"p>>',
            language: {
                info: 'Showing _START_ to _END_ of _TOTAL_ entries',
                paginate: {
                    previous: 'Previous',
                    next: 'Next'
                }
            }
        });

    })();
</script>
