@model IEnumerable<GeniView.Data.Hardware.Event.DeviceEvent>

<table id="DeviceEventTable" class="device-events-table">
    <thead>
        <tr>
            <th>Device Serial Number</th>
            <th>Description</th>
            <th>Event Type</th>
            <th>Source</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="evt-icon-text">
                        <img src="~/Content/img/widgets/DeviceNumber.svg"
                             class="evt-device-icon"
                             alt="Device" />
                        <span>
                            @Html.DisplayFor(modelItem => item.DeviceSerialNumber)
                        </span>
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <div class="evt-icon-text">
                        <img src="~/Content/img/widgets/info.svg"
                             class="evt-info-icon"
                             alt="Information" />
                        <span>
                            @Html.DisplayFor(modelItem => item.EventType)
                        </span>
                    </div>
                </td>

                <td>
                    @item.SourceText
                </td>

                <td>
                    <div class="evt-icon-text">
                        <i class="fa fa-clock evt-time-fa" aria-hidden="true"></i>
                        <span>
                            @item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                        </span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    (function () {

        if ($.fn.DataTable.isDataTable('#DeviceEventTable')) {
            $('#DeviceEventTable').DataTable().destroy();
        }

        var $pagerHost = $('#DeviceEventsPagerHost');
        if ($pagerHost.length) {
            $pagerHost.empty();
        }

        var table = $('#DeviceEventTable').DataTable({
            paging: true,
            pageLength: 13,
            searching: false,
            ordering: false,
            lengthChange: false,
            autoWidth: false,
            info: true,

            // Create the info + pager nodes (we'll relocate them after init).
            dom: 't<"dt-footer-stash"<' + '"dt-info-stash"i' + '><' + '"dt-pager-stash"p' + '>>',

            language: {
                info: 'Showing _START_ to _END_ of _TOTAL_ entries',
                paginate: {
                    previous: 'Previous',
                    next: 'Next'
                }
            }
        });

        var $container = $(table.table().container());
        var $info = $container.find('.dt-info-stash').children().first();
        var $pager = $container.find('.dt-pager-stash').children().first();

        if ($pagerHost.length) {
            $pagerHost.append(
                $('<div class="dt-footer"></div>')
                    .append($('<div class="dt-info"></div>').append($info))
                    .append($('<div class="dt-pager"></div>').append($pager))
            );
        }

        // Remove the now-empty stash row so it doesn't occupy space inside the card.
        $container.find('.dt-footer-stash').remove();

    })();
</script>