@model IEnumerable<GeniView.Data.Hardware.Event.DeviceEvent>

<table id="DeviceEventTable" class="device-events-table">
    <thead>
        <tr>
            <th>Device Serial Number</th>
            <th>Description</th>
            <th>Event Type</th>
            <th>Source</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!-- DEVICE SERIAL NUMBER -->
                <td>
                    <div class="evt-icon-text">
                        <img src="~/Content/img/widgets/DeviceNumber.svg"
                             class="evt-device-icon"
                             alt="Device" />
                        <span>
                            @Html.DisplayFor(modelItem => item.DeviceSerialNumber)
                        </span>
                    </div>
                </td>

                <!-- DESCRIPTION -->
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <!-- EVENT TYPE (INFORMATION ICON) -->
                <td>
                    <div class="evt-icon-text">
                        <img src="~/Content/img/widgets/info.svg"
                             class="evt-info-icon"
                             alt="Information" />
                        <span>
                            @Html.DisplayFor(modelItem => item.EventType)
                        </span>
                    </div>
                </td>

                <!-- SOURCE -->
                <td>
                    @item.SourceText
                </td>
                <!-- Timestamp (NO TimeZoneHelper ❌) -->
                @*<td class="col-time">
                    @item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                </td>*@
            <td>
                <div class="evt-icon-text">
                    <i class="fa fa-clock evt-time-fa" aria-hidden="true"></i>
                    <span>
                        @item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                    </span>
                </div>
            </td>

            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    (function () {

        if ($.fn.DataTable.isDataTable('#DeviceEventTable')) {
            $('#DeviceEventTable').DataTable().destroy();
        }

        $('#DeviceEventTable').DataTable({
            paging: true,
            pageLength: 13,
            searching: false,
            ordering: false,
            lengthChange: false,
            autoWidth: false,
            info: true,
            dom: 't<"dt-footer"<"dt-info"i><"dt-pager"p>>',
            language: {
                info: 'Showing _START_ to _END_ of _TOTAL_ entries',
                paginate: {
                    previous: 'Previous',
                    next: 'Next'
                }
            }
        });

    })();
</script>
