@model IEnumerable<GeniView.Data.Hardware.Event.DeviceEvent>
@using GeniView.Cloud.Models;

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            if ($.fn.DataTable.isDataTable('#DeviceEventTable')) {
                $('#DeviceEventTable').DataTable().destroy();
            }

            $('#DeviceEventTable').DataTable({
                responsive: { details: true },
                paging: true,
                pageLength: 13,
                lengthChange: false,
                info: true,
                searching: false,
                ordering: false,
                autoWidth: false,
                dom: '<"row"<"col-xs-12"t>>' +
                     '<"row"<"col-xs-6"i><"col-xs-6"p>>',
                language: {
                    info: "Showing _START_ to _END_ of _TOTAL_ entries",
                    paginate: {
                        previous: "Previous",
                        next: "Next"
                    }
                }
            });
        });
    </script>
}

<table class="table" id="DeviceEventTable" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Device Serial Number")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Event Type")
            </th>
            <th>
                @Html.DisplayName("Source")
            </th>
            <th>
                @Html.DisplayName("Timestamp")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceSerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    @item.SourceText
                </td>
                <td>
                    @TimeZoneHelper.GetLocalDateTime(item.Timestamp, ViewBag.CurrentUser)
                </td>
            </tr>
        }
    </tbody>
</table>