@model IEnumerable<GeniView.Data.Hardware.Event.DeviceEvent>
@using GeniView.Cloud.Models;

<table class="table" id="DeviceEventTable" style="width:100%">
    <thead>
        <tr>
            <th>Device Serial Number</th>
            <th>Description</th>
            <th>Event Type</th>
            <th>Source</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <!-- DEVICE SERIAL NUMBER -->
                <td>
                    <div class="evt-icon-text">
                        <img src="~/Content/img/widgets/device-serial.svg"
                             class="evt-device-icon"
                             alt="Device" />
                        <span>
                            @Html.DisplayFor(modelItem => item.DeviceSerialNumber)
                        </span>
                    </div>
                </td>

                <!-- DESCRIPTION -->
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <!-- EVENT TYPE (INFORMATION ICON) -->
                <td>
                    <div class="evt-icon-text">
                        <img src="~/Content/img/widgets/info.svg"
                             class="evt-info-icon"
                             alt="Information" />
                        <span>
                            @Html.DisplayFor(modelItem => item.EventType)
                        </span>
                    </div>
                </td>

                <!-- SOURCE -->
                <td>
                    @item.SourceText
                </td>

                <!-- TIMESTAMP -->
                <td>
                    @TimeZoneHelper.GetLocalDateTime(item.Timestamp, ViewBag.CurrentUser)
                </td>

            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    (function () {
        function initDeviceEventsTable() {
            if (!window.jQuery || !jQuery.fn || !jQuery.fn.DataTable) {
                return;
            }

            if ($.fn.DataTable.isDataTable('#DeviceEventTable')) {
                $('#DeviceEventTable').DataTable().destroy();
            }

            $('#DeviceEventTable').DataTable({
                responsive: { details: true },
                paging: true,
                pagingType: 'simple_numbers',
                pageLength: 13,
                lengthChange: false,
                info: true,
                searching: false,
                ordering: false,
                autoWidth: false,
                dom: 't<"dt-row"<"dt-info"i><"dt-pager"p>>',
                language: {
                    info: 'Showing _START_ to _END_ of _TOTAL_ entries',
                    paginate: {
                        previous: 'Previous',
                        next: 'Next'
                    }
                }
            });
        }

        // init now (works when injected via $.html because scripts execute)
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', initDeviceEventsTable);
        } else {
            initDeviceEventsTable();
        }
    })();
</script>