<div class="text-center logo-container">
    <img class="img-rounded logo-img" src="~/Resources/gvc_logo.png" />
</div>


<ul class="sidebar-nav">
    <li>
        <a href="#" data-toggle="collapse" data-target="#MainMenu" class="subnav-header">
            Main
            <span class="fa-stack fa-lg pull-right side-menu-toggle">
                <i class="fa fa-chevron-down fa-stack-1x"></i>
            </span>
        </a>
        <ul class="sidebar-nav collapse in subnav" id="MainMenu">
            <li><a href="@Url.Action("Index","Dashboard")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer-alt fa-stack-1x"></i></span>Dashboard</a></li>
            <li><a href="@Url.Action("Index","Devices", new { id = UrlParameter.Optional })"><span class="fa-stack fa-lg pull-left"><i class="fa fa-hdd fa-stack-1x"></i></span>Devices</a></li>
            <li><a href="@Url.Action("Index","Batteries", new { id = UrlParameter.Optional })"><span class="fa-stack fa-lg pull-left"><i class="fa fa-battery-full fa-stack-1x"></i></span>Batteries</a></li>
            @*@if (User.IsInRole("Application Admin") || User.IsInRole("Application User"))
            {
                <li><a href="@Url.Action("Index", "Agents")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-desktop fa-stack-1x"></i></span>Agents</a></li>
            }*@

            <li><a href="@Url.Action("Index","Command", new { id = UrlParameter.Optional })"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x"></i></span>Command</a></li>
        </ul>
    </li>

    @if (User.IsInRole("Application Admin"))
    {
        <li><a href="@Url.Action( "Index", "Home",new { area = "Admin" }, null)"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x"></i></span>Settings</a></li>
    }

    @if (User.IsInRole("Community Admin"))
    {
        <li><a href="@Url.Action( "Index", "CommunityInfo", null)"><span class="fa-stack fa-lg pull-left"><i class="fa fa-building fa-stack-1x"></i></span>Community</a></li>
    }

    @if (User.IsInRole("Community Admin") || User.IsInRole("Community Group Admin"))
    {
        <li>
            <a href="#" data-toggle="collapse" data-target="#GroupMenu" class="subnav-header">Groups<span class="fa-stack fa-lg pull-right side-menu-toggle"><i class="fa fa-chevron-down fa-stack-1x"></i></span></a>
            <ul class="sidebar-nav collapse in subnav" id="GroupMenu">
                <li><a href="@Url.Action("Create","Groups")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x"></i></span>New Group</a></li>
                <li><a href="@Url.Action("Index","Groups")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x"></i></span>Groups List</a></li>
                <li><a href="@Url.Action("GroupsHierarchy","Groups")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sitemap fa-stack-1x"></i></span>Groups Hierarchy</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-target="#UserMenu" data-toggle="collapse" class="subnav-header">Users<span class="fa-stack fa-lg pull-right side-menu-toggle"><i class="fa fa-chevron-down fa-stack-1x"></i></span></a>
            <ul class="sidebar-nav nav-pills nav-stacked collapse in subnav" id="UserMenu">
                <li><a href="@Url.Action("CreateNewAccount","Users")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-plus fa-stack-1x"></i></span>New User</a></li>
                <li><a href="@Url.Action("Index","Users")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x"></i></span>User List</a></li>
            </ul>
        </li>
    }

    <li>
        <a href="#" data-toggle="collapse" data-target="#HelpMenu" class="subnav-header">Information<span class="fa-stack fa-lg pull-right side-menu-toggle"><i class="fa fa-chevron-down fa-stack-1x"></i></span></a>
        <ul class="sidebar-nav collapse in subnav" id="HelpMenu">
            <li><a href="@Url.Action("About","Dashboard")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-exclamation fa-stack-1x"></i></span>About</a></li>
            <li><a href="@Url.Action("Contact","Dashboard")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-phone fa-stack-1x"></i></span>Contact</a></li>
        </ul>
    </li>
</ul>